.logoutButton {
  background-color: white;
  color: #393e46;
  border: 1px solid #393e46;
  font-weight: 600;

  cursor: pointer;

  padding: 5px 7px;
  border-radius: 4px;
  width: auto;

  &:hover {
    background-color: #e5ebf5;
  }
}
